// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung's Exynos5420 Galaxy Tab Pro 10.1 WiFi board device tree source
 *
 * Copyright (c) 2012-2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 * Copyright (c) 2022 Henrik Grimler
 * Copyright (c) 2024-2025 Hendrik Noack
 */

/dts-v1/;
#include "exynos5420-galaxy-tab-pro-common.dtsi"

/ {
	model = "Samsung Galaxy Tab Pro 10.1 WiFi based on Exynos5420";
	compatible = "samsung,n2awifi", "samsung,exynos5420", \
			"samsung,exynos5";

	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x7fa00000>;
	};
};

&hsi2c_5 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	backlight: backlight@2c {
		compatible = "ti,lp8556";
		reg = <0x2c>;

		bl-name = "lcd-bl";
		dev-ctrl = /bits/ 8 <0x01>;
		init-brt = /bits/ 8 <0x72>;	/* 114 */

		pwms = <&pwm 0 100000 0>;
		pwm-names = "lp8556";
		pinctrl-names = "default";
		pinctrl-0 = <&pwm0_out>;

		enable-supply = <&backlight_reset_supply>;

		/* higher inductor current limit */
		rom-98h {
			rom-addr = /bits/ 8 <0x98>;
			rom-val = /bits/ 8 <0xa1>;
		};

		/* automatic standby via pwm disabled, 25 mA max LED current */
		rom-a1h {
			rom-addr = /bits/ 8 <0xa1>;
			rom-val = /bits/ 8 <0x5f>;
		};

		/* 200 ms slope, heavy smoothing, 1-bit PWM input hysteresis */
		rom-a3h {
			rom-addr = /bits/ 8 <0xa3>;
			rom-val = /bits/ 8 <0x5e>;
		};

		/* disable PWM passthrough, 6 PWM output phases, 9616 Hz PWM frequency */
		rom-a5h {
			rom-addr = /bits/ 8 <0xa5>;
			rom-val = /bits/ 8 <0x04>;
		};

		/* all reserved */
		rom-a8h {
			rom-addr = /bits/ 8 <0xa8>;
			rom-val = /bits/ 8 <0x00>;
		};

		/* 24 V max output voltage, jump detection on pwm input disabled */
		rom-a9h {
			rom-addr = /bits/ 8 <0xa9>;
			rom-val = /bits/ 8 <0xa0>;
		};
	};
};

&ldo24_reg {
	regulator-name = "cam_af_2v8_pm";
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&ldo26_reg {
	regulator-name = "vcc_3v0_motor";
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&ldo34_reg {
	/* Not defined, something with 3V */
	regulator-name = "vdd_ldo34";
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&ldo35_reg {
	regulator-name = "cam_sensor_core_1v2";
	regulator-min-microvolt = <1050000>;
	regulator-max-microvolt = <1200000>;
};

&wifi {
	compatible = "brcm,bcm4339-fmac", "brcm,bcm4329-fmac";
};
