CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_PM_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y
CONFIG_IP_VS_DEBUG=y
CONFIG_PPS_DEBUG=y
CONFIG_CIFS_DEBUG=y
CONFIG_DEBUG_GPIO=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_FS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_USER=y
CONFIG_CMDLINE="earlycon loglevel=7"
CONFIG_CMDLINE_EXTEND=y
